.cookie-container h2, .get-to-know-me h2 {
  text-transform: uppercase;
  font-size: 16px;
  color: black;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.5px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif; }

* {
  border: 1px solid black; }

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif; }

p,
li,
pre,
i {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 35px;
  text-align: left; }

a,
a:hover {
  text-decoration: none;
  color: unset; }

ul,
ol,
li {
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0; }

span.notcalpi-red {
  background-color: #ff1744;
  color: white; }

span.highlight {
  background-color: yellow; }

.progress {
  background-color: white; }

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed; }

.filtering-projects .remove-filters-button, .project-detail-container .link-to-button, .about-me-container .studies .projects-link, .about-me-container .code-tools .code-tool a, .about-me-container .work-experience #collapseDobcn .card a,
.about-me-container .work-experience #collapseNordic .card a,
.about-me-container .work-experience #collapseRedPoints .card a,
.about-me-container .work-experience #collapseAssembler .card a {
  background-color: #ff1744;
  color: white;
  text-transform: uppercase;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-radius: 4px;
  font-size: 10px;
  height: 25px;
  width: fit-content;
  text-decoration: none; }

.filtering-projects .remove-filters-button:hover, .project-detail-container .link-to-button:hover, .about-me-container .studies .projects-link:hover, .about-me-container .code-tools .code-tool a:hover, .about-me-container .work-experience #collapseDobcn .card a:hover,
.about-me-container .work-experience #collapseNordic .card a:hover,
.about-me-container .work-experience #collapseRedPoints .card a:hover,
.about-me-container .work-experience #collapseAssembler .card a:hover {
  background-color: #a50026; }

.filtering-projects .remove-filters-button:disabled, .project-detail-container .link-to-button:disabled, .about-me-container .studies .projects-link:disabled, .about-me-container .code-tools .code-tool a:disabled, .about-me-container .work-experience #collapseDobcn .card a:disabled,
.about-me-container .work-experience #collapseNordic .card a:disabled,
.about-me-container .work-experience #collapseRedPoints .card a:disabled,
.about-me-container .work-experience #collapseAssembler .card a:disabled {
  opacity: 50%; }

.filtering-projects .remove-filters-button:disabled:hover, .project-detail-container .link-to-button:disabled:hover, .about-me-container .studies .projects-link:disabled:hover, .about-me-container .code-tools .code-tool a:disabled:hover, .about-me-container .work-experience #collapseDobcn .card a:disabled:hover,
.about-me-container .work-experience #collapseNordic .card a:disabled:hover,
.about-me-container .work-experience #collapseRedPoints .card a:disabled:hover,
.about-me-container .work-experience #collapseAssembler .card a:disabled:hover {
  background-color: #ff1744; }

.header-background {
  padding-top: 30px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  position: relative;
  height: 530px;
  background-color: #ff1744; }
  .header-background .picture {
    width: 50%; }
    .header-background .picture img {
      height: 350px; }
  .header-background .description-desktop {
    width: 50%;
    padding-top: 0;
    padding-right: 50px;
    padding-bottom: 0;
    padding-left: 0;
    color: white; }
    .header-background .description-desktop p:last-child {
      color: #a50026;
      font-weight: 600;
      font-size: 18px; }
    .header-background .description-desktop a {
      background-color: #a50027;
      border-radius: 4px;
      padding-top: 5px;
      padding-right: 10px;
      padding-bottom: 5px;
      padding-left: 10px;
      cursor: pointer;
      position: absolute; }
  .header-background .description-mobile {
    margin-top: 30px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 100%;
    color: #ff1744; }
    .header-background .description-mobile p:last-child {
      color: #a50026;
      font-weight: 600;
      font-size: 18px; }
    .header-background .description-mobile a {
      color: white;
      background-color: #a50027;
      border-radius: 4px;
      padding-top: 5px;
      padding-right: 10px;
      padding-bottom: 5px;
      padding-left: 10px;
      cursor: pointer;
      position: absolute; }
  .header-background svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20vw;
    /* set height to pixels if you want angle to change with screen width */ }

@media (max-width: 1199px) {
  .header-background {
    height: 510px; } }

@media (max-width: 991px) {
  .header-background {
    height: 474px; } }

@media (max-width: 767px) {
  .header-background {
    height: 275px;
    padding-top: 41px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0; }
    .header-background svg {
      bottom: -1px; }
    .header-background .picture {
      width: 100%;
      margin-top: 0;
      margin-right: auto;
      margin-bottom: 0;
      margin-left: auto; }
      .header-background .picture img {
        height: 230px; } }

.about-me-home {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto; }
  .about-me-home .characteristics {
    padding-top: 0;
    padding-right: 50px;
    padding-bottom: 0;
    padding-left: 15px;
    width: 50%; }
    .about-me-home .characteristics p {
      padding-top: 0;
      padding-right: 30px;
      padding-bottom: 0;
      padding-left: 0;
      color: #ff1744;
      font-weight: 600;
      font-size: 18px;
      text-align: right; }
    .about-me-home .characteristics .img-container {
      box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
      border-radius: 10px;
      height: 90px;
      width: 90px;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 20px;
      margin-left: 0; }
      .about-me-home .characteristics .img-container img {
        height: 45px;
        width: 45px; }
  .about-me-home .about-me-detail {
    margin-top: -90px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    z-index: 0;
    padding-top: 0;
    padding-right: 15px;
    padding-bottom: 0;
    padding-left: 50px;
    width: 50%; }
    .about-me-home .about-me-detail .title h2 {
      text-transform: uppercase;
      font-size: 26px; }
    .about-me-home .about-me-detail .title h2,
    .about-me-home .about-me-detail .title p {
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0; }
    .about-me-home .about-me-detail .description-about-me a {
      color: black;
      text-decoration: underline;
      font-weight: 400; }
    .about-me-home .about-me-detail .border-bottom {
      border-bottom: 1px solid black; }
    .about-me-home .about-me-detail .link-to-cv {
      text-transform: uppercase;
      font-size: 16px;
      color: #ff1744;
      font-weight: 400;
      line-height: 35px;
      letter-spacing: 0.5px;
      text-align: left;
      font-family: "Source Sans Pro", sans-serif; }

#accordionExample {
  width: 100%; }
  #accordionExample .card {
    margin: 0 !important;
    width: 100%;
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important; }
    #accordionExample .card .card-header {
      background-color: transparent !important;
      padding: 0 !important;
      margin-bottom: 0;
      border-bottom: 1px solid #ff1744; }
    #accordionExample .card button {
      text-decoration: none;
      color: #ff1744; }
  #accordionExample > .card {
    overflow: unset !important; }
  #accordionExample .link-to-cv {
    background-color: #a50027;
    border-radius: 4px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    cursor: pointer;
    color: white; }

@media (max-width: 1199px) {
  .about-me-home .characteristics {
    padding-top: 0;
    padding-right: 15px;
    padding-bottom: 0;
    padding-left: 0; }
  .about-me-home .about-me-detail {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 15px; } }

@media (max-width: 991px) {
  .about-me-home .about-me-detail {
    margin-top: -10px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0; } }

@media (max-width: 767px) {
  .about-me-home {
    padding-top: 370px;
    padding-right: 15px;
    padding-bottom: 0;
    padding-left: 0; }
    .about-me-home .characteristics {
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;
      width: 100%; }
    .about-me-home .about-me-detail {
      width: 100%;
      padding-top: 50px;
      padding-right: 15px;
      padding-bottom: 0;
      padding-left: 0; } }

@media (max-width: 575px) {
  .about-me-home {
    padding-top: 450px;
    padding-right: 15px;
    padding-bottom: 0;
    padding-left: 15px; }
    .about-me-home .characteristics .charcateristic-container p {
      min-width: 230px;
      max-width: 230px;
      text-align: right; } }

.filters {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto; }
  .filters button {
    background-color: #ff1744;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
    border-radius: 4px;
    color: white;
    border: none;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    min-width: 120px; }
  .filters button:hover {
    background-color: #a50026; }
  .filters .filter {
    text-transform: capitalize; }

.my-dev-projects {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto; }
  .my-dev-projects h2 {
    text-transform: uppercase;
    font-size: 16px;
    color: black;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.5px;
    text-align: left;
    font-family: "Source Sans Pro", sans-serif; }

@media (max-width: 767px) {
  .filters a {
    width: 60%;
    margin: 0 auto; }
    .filters a button {
      width: 100%;
      margin: 5px auto;
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px; }
  .my-dev-projects h2 {
    text-align: center; } }

a.checkout-link-button {
  margin: 0 auto;
  width: 92%;
  text-transform: uppercase;
  font-size: 16px;
  color: #ff1744;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.5px;
  text-align: left;
  font-family: "Source Sans Pro", sans-serif; }

.medium-fetched-title {
  text-transform: uppercase;
  font-size: 16px;
  color: black;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.5px;
  text-align: left;
  font-family: "Source Sans Pro", sans-serif; }

.card {
  height: fit-content;
  width: 250px;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); }
  .card .img-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    height: 150px; }
    .card .img-container img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      transition: transform 1s ease;
      width: auto;
      height: auto;
      max-width: 100%;
      min-width: 100%;
      min-height: 100%; }
  .card .img-container img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  .card .project-details {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px; }
    .card .project-details p {
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0;
      line-height: 25px;
      font-weight: 400; }
    .card .project-details .name {
      font-size: 13px;
      color: #ff1744;
      text-transform: uppercase; }
    .card .project-details .type {
      font-size: 10px;
      color: black;
      line-height: 12px;
      min-height: 24px;
      font-family: "Roboto Mono", monospace;
      font-weight: 300; }
    .card .project-details .customer {
      font-family: "Roboto Mono", monospace;
      font-weight: 300;
      color: black;
      font-size: 11px; }

.card:hover {
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149); }
  .card:hover .img-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
    .card:hover .img-container img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      transform: scale(1.1); }

.filtering-projects button:not(.remove-filters-button),
.filtering-projects button:hover:not(.remove-filters-button) {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
  text-transform: uppercase;
  color: #ff1744; }

.filtering-projects .card {
  width: 100%; }

.filtering-projects .card input {
  margin-right: 10px; }

.filtering-projects .card label {
  text-transform: capitalize;
  margin: 0; }

.filtering-projects .card-header {
  padding: 2px; }

.filtering-projects .remove-filters-button {
  margin: 10px;
  width: 100%;
  border: none;
  font-size: 13px;
  height: 35px; }

@media (min-width: 992px) {
  .filtering-projects {
    width: 300px;
    padding: 15px; }
  .display-projects {
    align-content: baseline;
    padding: 15px;
    width: calc(100% - 300px); } }

@media (max-width: 991px) {
  .filtering-projects {
    padding: 15px; }
  .display-projects {
    align-content: baseline;
    width: 100%; } }

.project-detail-container .project-cover, .project-detail-container .carousel-inner {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); }

.project-detail-container .carousel-indicators li {
  background-color: #ff1744; }

.project-detail-container .carousel-control-prev-icon,
.project-detail-container .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none; }

.project-detail-container .carousel-control-next-icon:after {
  font-family: "Material Icons";
  content: "chevron_right";
  font-size: 55px;
  color: red; }

.project-detail-container .carousel-control-prev-icon:after {
  font-family: "Material Icons";
  content: "chevron_left";
  font-size: 55px;
  color: red; }

.project-detail-container .small-red-font {
  text-transform: uppercase;
  color: #ff1744;
  font-size: 12px; }

.project-detail-container .extra-info {
  border-top: 1px solid black; }

.project-detail-container .specs {
  padding-bottom: 15px; }
  .project-detail-container .specs li:not(:last-child) {
    border-bottom: 1px solid black; }

.project-detail-container .description {
  line-height: 30px; }

.project-detail-container .link-to-button {
  font-size: 15px;
  width: 100%;
  border: none; }

.project-detail-container .links-to-buttons {
  margin-top: 10px; }
  .project-detail-container .links-to-buttons a {
    margin-top: 10px;
    margin-right: 10px; }

.project-detail-container .project-tags, .project-detail-container .project-madeats, .project-detail-container .project-coding-langs {
  text-transform: capitalize; }

.project-detail-container pre {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */ }

@media (min-width: 992px) {
  .specs {
    min-width: 30%;
    max-width: 30%; } }

@media (max-width: 991px) {
  .specs {
    width: 100%;
    min-width: 100%;
    max-width: 100%; } }

.cookie-container {
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  border-radius: 4px;
  background-color: #e8ecef; }
  .cookie-container p {
    text-align: left; }

.reach-me-container .connections-container {
  width: 400px;
  background-color: #ff1744;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 30px auto 0 auto !important;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px; }
  .reach-me-container .connections-container a {
    background-color: white;
    color: #ff1744;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
    border-radius: 4px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    min-width: 170px;
    text-align: center; }

.reach-me-container #contact-form {
  background-color: #e8ecef;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 400px; }
  .reach-me-container #contact-form h2 {
    text-transform: uppercase;
    font-size: 16px;
    color: #ff1744;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.5px;
    text-align: left;
    font-family: "Source Sans Pro", sans-serif; }
  .reach-me-container #contact-form .grecaptcha-badge {
    margin: 0 auto 15px auto; }
  .reach-me-container #contact-form #submit-button {
    width: 100%;
    background-color: #ff1744;
    border-radius: 4px;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 10px;
    border: none;
    color: white;
    text-transform: uppercase;
    height: 40px; }
  .reach-me-container #contact-form #submit-button.disabled {
    pointer-events: none;
    opacity: 0.5; }
  .reach-me-container #contact-form #submit-button:hover {
    background-color: #a50026; }
  .reach-me-container #contact-form .feedback-message {
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    width: 100%; }
    .reach-me-container #contact-form .feedback-message p {
      margin: 0;
      font-family: "Source Sans Pro", sans-serif;
      text-transform: uppercase;
      text-align: center; }

@media (max-width: 575px) {
  .reach-me-container #contact-form,
  .reach-me-container .connections-container {
    width: 100%; } }

.about-me-container {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  .about-me-container .jumbotron a {
    background-color: #ff1744;
    color: white;
    text-transform: uppercase;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 0;
    margin-left: 5px;
    border-radius: 4px;
    text-align: center; }
  .about-me-container .jumbotron a:hover {
    background-color: #a50026; }
  .about-me-container .others p {
    background-color: #e8ecef;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 10px;
    border-radius: 4px;
    color: black;
    text-align: center; }
  .about-me-container .studies .card {
    border-radius: 10px !important; }
    .about-me-container .studies .card img.card-img-top {
      border-top-left-radius: 10px !important;
      border-top-right-radius: 10px !important; }
    .about-me-container .studies .card .card-body {
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px; }
      .about-me-container .studies .card .card-body p.card-text {
        font-size: 12px;
        text-transform: uppercase;
        line-height: 25px; }
  .about-me-container .studies .projects-link {
    font-size: 12px;
    width: 250px;
    margin: 10px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    padding: 12px;
    text-align: center;
    height: 60px; }
  .about-me-container .software-container .card {
    border-radius: 3px !important; }
  .about-me-container .software-container .card-header {
    text-transform: uppercase;
    font-size: 16px;
    color: black;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0.5px;
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px; }
  .about-me-container .software-container .list-group li {
    font-size: 12px;
    color: black;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.5px;
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px; }
  .about-me-container .skills-container card:hover {
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); }
  .about-me-container .code-tools .code-tool {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #e8ecef;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0; }
    .about-me-container .code-tools .code-tool h3 {
      text-transform: uppercase;
      font-size: 16px;
      color: black;
      font-weight: 400;
      line-height: 35px;
      letter-spacing: 0.5px;
      text-align: left;
      font-family: "Source Sans Pro", sans-serif; }
  .about-me-container .work-experience h2, .about-me-container .code-tools h2 {
    text-transform: uppercase;
    font-size: 16px;
    color: black;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0.5px;
    text-align: left;
    font-family: "Source Sans Pro", sans-serif; }
  .about-me-container .work-experience {
    padding-bottom: 40px !important; }
    .about-me-container .work-experience a {
      text-decoration: underline; }
    .about-me-container .work-experience .more-info-button {
      background-color: transparent;
      border: none;
      margin-right: 5px;
      padding: 0;
      text-align: left; }
    .about-me-container .work-experience #collapseDobcn .card,
    .about-me-container .work-experience #collapseNordic .card,
    .about-me-container .work-experience #collapseRedPoints .card,
    .about-me-container .work-experience #collapseAssembler .card {
      width: unset !important;
      font-family: "Source Sans Pro", sans-serif; }
      .about-me-container .work-experience #collapseDobcn .card a,
      .about-me-container .work-experience #collapseNordic .card a,
      .about-me-container .work-experience #collapseRedPoints .card a,
      .about-me-container .work-experience #collapseAssembler .card a {
        margin-top: 15px; }
      .about-me-container .work-experience #collapseDobcn .card p,
      .about-me-container .work-experience #collapseNordic .card p,
      .about-me-container .work-experience #collapseRedPoints .card p,
      .about-me-container .work-experience #collapseAssembler .card p {
        line-height: 1.5 !important; }
  .about-me-container .get-to-know-me {
    margin: 0 auto 30px auto !important; }

.get-to-know-me {
  background-color: #ff1744;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px; }
  .get-to-know-me h2 {
    color: white; }
  .get-to-know-me a {
    background-color: white;
    color: #ff1744;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
    border-radius: 4px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    min-width: 170px;
    text-align: center; }

@media (max-width: 1199px) {
  .get-to-know-me {
    border-radius: 10px; } }

@media (max-width: 767px) {
  .about-me-container .others p {
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 5px;
    margin-left: 0;
    width: 100%; }
  .get-to-know-me a {
    width: 100%; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .about-me-container .code-tools,
  .about-me-container .work-experience,
  .about-me-container .others,
  .about-me-container .get-to-know-me {
    width: 85%;
    margin: 0 auto; }
  .about-me-container .others p {
    width: 242px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .about-me-container {
    width: 100%; }
    .about-me-container .studies .card {
      width: 200px; }
    .about-me-container .software-container .card-header {
      font-size: 15px; }
    .about-me-container .software-container .card {
      width: 200px; }
    .about-me-container .others p {
      width: 200px; } }

@media (min-width: 1200px) {
  .about-me-container {
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); }
    .about-me-container .code-tools,
    .about-me-container .work-experience,
    .about-me-container .others,
    .about-me-container .get-to-know-me {
      width: 72%;
      margin: 0 auto; }
    .about-me-container .others p {
      width: 245px; } }

.not-found {
  margin-top: 120px; }
  .not-found h1,
  .not-found p {
    font-family: "Roboto Mono", monospace; }
  .not-found .foto-grid {
    margin-bottom: 30px; }

@media (min-width: 1200px) {
  .not-found .foto-grid .cris-fact {
    width: 30%; }
    .not-found .foto-grid .cris-fact .overlapped-info {
      max-width: 333px; } }

.not-found .foto-grid .cris-fact {
  position: relative; }
  .not-found .foto-grid .cris-fact div.fact-container {
    width: 100%;
    height: 100%; }
    .not-found .foto-grid .cris-fact div.fact-container img {
      width: 100%;
      height: 100%; }
  .not-found .foto-grid .cris-fact .overlapped-info-container {
    display: none;
    padding: 10px;
    position: absolute; }
    .not-found .foto-grid .cris-fact .overlapped-info-container .overlapped-info {
      font-family: "Roboto Mono", monospace;
      color: white;
      background-color: #ff1744;
      font-size: 14px;
      border-radius: 10px;
      padding: 10px;
      line-height: 22px; }

.not-found .foto-grid .cris-fact:hover > .overlapped-info-container {
  display: block; }

@media (max-width: 1199px) {
  .not-found .foto-grid .cris-fact {
    width: 80%; } }

@media (max-width: 575px) {
  .not-found .foto-grid .cris-fact .overlapped-info-container {
    display: block; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .not-found .foto-grid .cris-fact {
    width: 50%; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */ }

nav.navbar {
  background-color: #ff1744 !important;
  position: fixed;
  z-index: 10;
  width: 100%; }
  nav.navbar li {
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 0;
    margin-left: 5px;
    text-transform: uppercase;
    color: white;
    font-weight: 400; }
  nav.navbar .nav-link {
    padding: 0 !important; }
  nav.navbar .highlight-menu-item {
    background-color: #a50027;
    border-radius: 4px;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 10px; }

footer {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background: #ff1744;
  display: table !important;
  bottom: 0;
  width: 100%; }
  footer > div {
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 0;
    font-size: 16px;
    color: white; }
  footer p {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0; }
  footer li {
    padding-top: 0;
    padding-right: 5px;
    padding-bottom: 0;
    padding-left: 5px; }

#cookie_consent {
  display: flex;
  position: fixed;
  bottom: 30px;
  background-color: #ff1744;
  left: 0;
  right: 0;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px; }
  #cookie_consent p {
    text-align: center;
    margin: 0;
    color: white; }
  #cookie_consent button {
    background-color: #a50026;
    color: white;
    border: none;
    border-radius: 4px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 0;
    margin-left: 5px; }
  #cookie_consent a {
    text-decoration: underline; }

@media (max-width: 991px) {
  nav.navbar .nav-item {
    padding-top: 8px;
    padding-bottom: 8px; }
  nav.navbar .nav-item:not(:last-child) {
    border-bottom: 1px solid white; }
  nav.navbar .highlight-menu-item {
    background-color: transparent !important;
    padding-left: 0 !important; } }

.layout-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.main-container {
  flex-grow: 1; }

@media (max-width: 767px) {
  footer a {
    font-size: 15px; } }

/*# sourceMappingURL=importer.css.map */
