.project-detail-container {
  .project-cover, .carousel-inner  {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
      0 5px 15px rgba(0, 0, 0, 0.07);
	}
	// .carousel-control-prev-icon, .carousel-control-next-icon{

	// }

//CAROUSEL ICONS
.carousel-indicators li{
	background-color: $primary-colour;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  // outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  // border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  font-family: "Material Icons";
	// content: "\e5cc";
	content: "chevron_right";
  font-size: 55px;
  color: $primary-colour;
}

.carousel-control-prev-icon:after {
  font-family: "Material Icons";
	// content: "\e5cc";
	content: "chevron_left";
  font-size: 55px;
  color: $primary-colour;
}


//CAROUSEL ICONS

  .small-red-font {
    text-transform: uppercase;
    color: $primary-colour;
    font-size: 12px;
  }
  .extra-info {
    border-top: 1px solid black;
  }
  .specs {
    padding-bottom: 15px;
    li:not(:last-child) {
      border-bottom: 1px solid black;
    }
  }
  .description {
    line-height: 30px;
  }
  .link-to-button {
    @extend %buttons;
    font-size: 15px;
    width: 100%;
    border: none;
	}
	.links-to-buttons{
		margin-top: 10px;
		div{
			margin-bottom: 15px;
		}
		a{
			margin-top: 10px;
			margin-right: 10px;
		}
	}
	.project-tags, .project-madeats, .project-coding-langs{
		text-transform: capitalize;
	}
	pre{
		white-space: pre-wrap;       /* css-3 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}
}

@include respond-above(md) {
  .specs {
    min-width: 30%;
    max-width: 30%;
  }
}
@include respond-below(md) {
  .specs {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}
