
.medium-fetched-title{
    text-transform: uppercase;
    font-size: 16px;
    color: black;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.5px;
    text-align: left;
    font-family: $sourcesans;
}
.card{
    width: 250px;
    border-radius: 10px;
    @include margin (10px, 10px, 10px, 10px);
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    .img-container{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
        height: 150px;
        img{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            transition: transform 1s ease;

            // height: 150px;
            width: auto;
            height: auto;
            max-width: 100%;
            min-width: 100%;
            // max-height: 100%;
            min-height: 100%;
        }
    }
    .img-container img{
        // width: 100%;
        // height: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .project-details{
        @include padding (10px, 10px, 10px, 10px);
        p{
            @include margin (0, 0, 0, 0);
            line-height: 25px;
            font-weight: 400;
        }
        .name{
            @include font-style (13px, $red, false, false, false, false);
            text-transform: uppercase;
        }
        .type{
            @include font-style (10px, black, false, 12px, false, false);
            min-height: 24px;
            font-family: $robotomono;
            font-weight: 300;
        }
        .customer{
            font-family: $robotomono;
            font-weight: 300;
            color: black;
            font-size: 11px;
        }
    }
}
.card:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
    .img-container{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            transform: scale(1.10);
        }
    }
}
/*# sourceURL=base/MODULE/projects/_card.scss */