.filtering-projects {
  button:not(.remove-filters-button),
  button:hover:not(.remove-filters-button) {
    text-decoration: none;
    font-family: $sourcesans;
    @include font-style(16px, false, $semibold, 35px, false, left);
    text-transform: uppercase;
    color: $primary-colour;
  }
  .card {
    width: 100%;
  }
  .card input {
    margin-right: 10px;
  }
  .card label {
    text-transform: capitalize;
    margin: 0;
  }
  .card-header {
    padding: 2px;
  }
  .remove-filters-button {
    margin: 10px;
    width: 100%;
    @extend %buttons;
    font-size: 13px;
    height: 35px;
  }
}
@include respond-above(md) {
  .filtering-projects {
    width: 300px;
    padding: 15px;
  }
  .display-projects {
    align-content: baseline;
    padding: 15px;
    width: calc(100% - 300px);
  }
}

@include respond-below(md) {
  .filtering-projects {
    // width: 100%;
    padding: 15px;
  }
  .display-projects {
    align-content: baseline;
    width: 100%;
  }
}
/*# sourceURL=MODULE/projects/_portfolio.scss */
