nav.navbar {
  background-color: $primary-colour !important;
  li {
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 0;
    margin-left: 5px;
    text-transform: uppercase;
    color: white;
    font-weight: $regular;
  }
  .nav-link {
    padding: 0 !important;
  }
  .highlight-menu-item {
    background-color: $secondary-colour;
    border-radius: 4px;
    @include padding(0, 10px, 0, 10px);
  }
}

footer {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background: $red;
  display: table !important;
  bottom: 0;
  width: 100%;
  > div {
    @include padding(10px, 0, 10px, 0);
    @include font-style(16px, white, false, false, false, false);
  }
  p {
    @include margin(0, 0, 0, 0);
  }
  li {
    @include padding(0, 5px, 0, 5px);
  }
}
#cookie_consent {
  display: flex;
  position: fixed;
  bottom: 30px;
  background-color: $red;
  left: 0;
  right: 0;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  @include padding(10px, 15px, 10px, 15px);
  p {
    text-align: center;
    margin: 0;
    color: white;
  }
  button {
    background-color: $dark-red;
    color: white;
    border: none;
    border-radius: 4px;
    @include padding(5px, 10px, 5px, 10px);
    @include margin(0, 5px, 0, 5px);
  }
  a {
    text-decoration: underline;
  }
}

@include respond-below(md) {
  nav.navbar {
    .nav-item {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .nav-item:not(:last-child) {
      border-bottom: 1px solid white;
    }

    .highlight-menu-item {
      background-color: transparent !important;
      padding-left: 0 !important;
    }
  }
}

.layout-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
}

@include respond-below(sm) {
  footer a {
    font-size: 15px;
  }
}

/*# sourceURL=THEME */
