* {
  // -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: $sourcesans;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

p,
li,
pre,
i {
  font-family: $sourcesans;
  @include font-style(16px, false, false, 35px, false, left);
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

ul,
ol,
li {
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

label {
}

span.notcalpi-red {
  background-color: $red;
  color: white;
}

span.highlight {
  background-color: yellow;
}

//BOOSTRAP OVERRIDES
.progress {
  background-color: white;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

%buttons {
  background-color: $red;
  color: white;
  text-transform: uppercase;
  @include padding(5px, 5px, 5px, 5px);
  border-radius: 4px;
  font-size: 10px;
  height: 25px;
  width: fit-content;
  text-decoration: none;
}
%buttons:hover {
  background-color: $dark-red;
}
%buttons:disabled {
  opacity: 50%;
}
%buttons:disabled:hover {
  background-color: $red;
}
